%h3
  = 'Profile'
%p.pull-left
  = image_tag(@user.avatar.profile.url) if @user.avatar?
%p
  = "Name: #{@user.name || '(Not provided)'}"
%p
  = "Email: #{@user.email}"
%p
  = link_to "Following: #{@user.followees(User).count}", user_followees_path(@user)
  |
  = link_to "Followers: #{@user.followers(User).count}", user_followers_path(@user)
= render partial: 'profiles/follow_button', locals: {user: @user}