= form_for(current_user) do |f|
  = devise_error_messages!

  - if current_user.avatar?
    .form-group
      = image_tag( current_user.avatar.profile.url )
    
  .form-group
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
  
  .form-group
    = f.submit "Update", class: 'btn btn-success right'