= form_for(current_user) do |f|
  = devise_error_messages!
  = f.fields_for :location do |ff|
    .form-group
      = ff.check_box :is_geocodable
      = ff.label "Turn on location?"
    
    .form-group
      = ff.check_box :is_visible
      = ff.label "Searchable by location?"
    
  .form-group
    = f.submit "Update", class: 'btn btn-success right'

:javascript
  $(document).ready(function() {
    $('#user_location_attributes_is_geocodable').on('change', function() {
      if(this.checked) {
        $('#user_location_attributes_is_visible').prop('checked',true);
        track_location();
      } else {
        $('#user_location_attributes_is_visible').prop('checked',false);
      }
    });
  });