%h1
  Find Dish
 
= form_for dish_search_path, method: :get do |f|
  = hidden_field_tag 'lat', @search_params[:lat]
  = hidden_field_tag 'lng', @search_params[:lng]
  %p
    %span.col-sm-4
      = f.label "Search for"
      = text_field_tag :q, @search_params[:q]
    %span.col-sm-4
      = f.label "Within"
      = number_field_tag :within_dist, @search_params[:within_dist], min: 0, step: 0.1
      = f.label " mile(s)"
    %span.col-sm-4
      = select_tag :sort, options_for_select([['Rating High to Low', 'rating_desc'],['Distance Low to High', 'distance_asc']], @search_params[:sort]) 
  %p.col-sm-12
    = submit_tag "Go", name: nil, class: 'btn btn-sm btn-success pull-left'

.row.col-sm-12
  .col-lg-3
    = render partial: 'search/facets', locals: {facets: @facets, search_string: @search_string}
  .col-lg-9
    = render partial: 'dishes/list', locals: {dishes: @dishes, show_dist: @is_geocoded, lat: @search_params[:lat], lng: @search_params[:lng]}

.col-sm-12
  = paginate @dishes

- unless @is_geocoded
  :javascript
    $(document).ready( function() {
      var locationCallback = function(position) {
        console.log(position);
        $('#lat').val(position.coords.latitude);
        $('#lng').val(position.coords.longitude);
      };

      getLocation(locationCallback); // initialize location
    });