%h1
  Dishes Search
 
= form_for search_path, method: :get do |f|
  %p
    = f.label "Search for"
    = text_field_tag :q, params[:q]
    = submit_tag "Go", name: nil
%ul
  - @dishes.each do | dish|
    %li
      = link_to "#{dish.name}", user_dish_path(dish.user, dish)

= paginate @dishes
