- owner = activity.owner
- dish = activity.trackable
- dish_owner = dish.user

- if owner && dish
  %p
    = link_to owner.name, user_profile_path(owner)
    = " rated "
    = link_to dish_owner.name, user_profile_path(dish_owner)
    = " dish"
    = link_to dish.name, user_dish_path(dish_owner, dish)
    %small
      = time_ago_in_words(activity.created_at)
      = " ago"