%h1 
  = "#{@user.name || User}'s dishes"

<div id="tag_cloud">
#tag_cloud
  - tag_cloud @user.dishes.tag_counts, %w[btn-xs btn-sm btn-md btn-lg] do |tag, css_class| 
    = link_to tag.name, tag_user_dishes_path(@user, tag.name), class: "btn btn-info #{css_class}"

%table.table
  %thead
    %tr
      %th Dish
      %th
      %th

  %tbody
    - @dishes.each do |dish|
      %tr
        %td= link_to dish.name, user_dish_path(@user, dish), class: 'btn btn-primary'
        - if @user == current_user
          %td= link_to 'Edit', edit_user_dish_path(@user, dish), class: 'btn btn-xs btn-success'
          %td= link_to 'Destroy', user_dish_path(@user, dish), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

%br

- if @user == current_user
  = link_to 'New Dish', new_user_dish_path(@user)
